<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/favicon.png" type="image/png">
  <title>Express/Posts</title>
</head>

<body class="<%= theme %>">
  <div class="container">
    <h1>App Express & EJS</h1>
    <h2>Posts</h2>
    <a href="/posts/stats" class="statsLink">
      <button>Posts Stats</button>
    </a>
    <ul>
      <% posts.forEach(post=> { %>
        <li><a href="/posts/<%= post._id %>">
            <%= post.title %>
          </a></li>
        <% }) %>
    </ul>
    <div class="pagination">
      <% if (page> 1) { %>
        <a href="/posts?page=<%= page - 1 %>&limit=<%= pageSize %>" class="prev">Prev</a>
        <% } %>

          <% if (posts.length===pageSize) { %>
            <a href="/posts?page=<%= page + 1 %>&limit=<%= pageSize %>" class="next">Next</a>
            <% } %>
    </div>
    <button onclick="goBack()">back</button>
  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

</html>